/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,900;1,900&display=swap');

/* =============== Globals ============== */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --gray: #3B3B3B;
    --white: #fff;
    --light-gray: #B8B7B7;
    --black: #1F1F1F;
    --black1: #292929;
    --orange: #FF8C18;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--black);

}

.container {
    position: relative;
    width: 100%;
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 220px;
    height: 100%;
    background: var(--gray);
    border-left: 10px solid var(--gray);
    transition: 0.5s;
    overflow: hidden;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    z-index: 100px;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation ul li {
    position: relative;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 30px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    height: 40px;

}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--orange);
    border-radius: 10px;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.65rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


footer {
    border-top: 1px solid #ddd;
    text-align: center;
    z-index: 100;
    position: relative;
    cursor: pointer;
}


/* ===================== Main ===================== */
.main {
    position: absolute;
    top: 0;
    left: 220px;
    width: calc(100% - 200px);
    min-height: 100vh;
    background-color: var(--black);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-right: 20px;


}

.main.active {
    width: calc(100% - 80px);
    left: 70px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--white);
}

.toggle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}


/* ==================  Details  ============== */
.details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 5px;

}


.cardHeader h3 {
    font-weight: 600;
    color: var(--white);
}

.cardHeader button {
    border: none;
    padding: 5px 10px;
    background: var(--orange);
    color: var(--white);
    border-radius: 6px;
    height: 30px;
}



/* ============ Table and Cards ============= */
.table-wrapper {
    border-radius: 5px;
    overflow: hidden;
}

.main-con-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    min-height: 100%;
}

.con-cards-dashboard {
    display: flex;
    gap: 20px;
    color: var(--white);
    margin-bottom: 15px;
}

.cards-dashboard {
    height: 100px;
    width: 100%;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 20px;
}

.card-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-details ion-icon {
    font-size: 2rem;
    color: var(--orange);
}

.card-details span {
    font-size: 1.0rem;
}



/* ----------TABLE----------------- */
.con-table {
    padding: 15px;
    border-radius: 5px;
    background-color: var(--gray);
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.con-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--black);
    color: var(--white);
}

.con-table thead {
    width: 100%;
}

.con-table tr {
    display: table;
    width: 100%;
}

.con-table th,
.con-table td {
    padding: 10px;
    text-align: center;
    min-width: 100px;
}

.con-table tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
}

.con-table tbody tr {
    display: table;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Adds smooth transition effect */

}


.con-table tbody tr {
    font-size: 0.7rem;
}

.con-table tbody tr:nth-child(odd) {
    background-color: var(--black);
}

.con-table tbody tr:nth-child(even) {
    background-color: var(--black1);
}

.con-table tbody tr:hover {
    background-color: var(--gray);
    /* Change to your desired hover color */
}

.con-table thead tr {
    background-color: #555;
}

.con-table thead th {
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* =============SCROLL BAR DESIGN ================*/
.con-table tbody::-webkit-scrollbar {
    width: 10px;
}

.con-table tbody::-webkit-scrollbar-track {
    background: var(--black);
    border-radius: 10px;
}

.con-table tbody::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.con-table tbody::-webkit-scrollbar-thumb:hover {
    background: #777;
}



/* Adjust `.best-selling` height to match `.main-con-table` */
.best-selling {
    padding: 20px;
    background-color: #3B3B3B;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 20px;

    margin-right: 20px;
}

.best-selling .card-con {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #B8B7B7;
    border-radius: 10px;
    color: var(--white);
    margin-bottom: 10px;
    font-size: 0.90rem;
}

.best-selling .prod-con {
    height: 50px;
    width: 50px;
    background-color: #FF8C18;
    border-radius: 10px;
}


/* ========SEARCH/BTN======= */

.con-search-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;

}

.con-search-btn button {
    border: none;
    padding: 5px 10px;
    background: var(--orange);
    color: var(--white);
    border-radius: 6px;
    height: 30px;
}

.search {
    position: relative;
    width: 250px;

}

.search label {
    position: relative;
    width: 100%;


}

.search label input {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    padding: 5px 0px;
    padding-left: 35px;
    font-size: 0.90rem;
    outline: none;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    color: var(--white);


}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
    color: var(--white);

}



/* =========SALES ========= */
.con-sales-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
}

.con-sales-btn button {
    border: none;
    padding: 5px 10px;
    background: var(--orange);
    color: var(--white);
    border-radius: 6px;
    height: 30px;
    width: 200px;
}

.sales-con-label {
    display: flex;
    flex-direction: column;
    color: var(--white);
    margin-bottom: 10px;
    font-weight: 600;
}

.con-sales-btn button.active {
    background-color: var(--light-gray);
    /* Change to your desired active color */
    color: white;
}

.export-btn-salesPart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
    color: var(--white);
}

.export-btn-salesPart button {
    border: none;
    border-radius: 10px;
    width: 100px;
    background-color: var(--white);
    align-items: center;
    padding: 5px;
}

.export-btn-salesPart ion-icon {
    font-weight: 600;
}
















/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .con-sales-btn button {
        width: 150px;
    }

    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 200px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 200px;
    }


}

@media (max-width: 768px) {
    .con-sales-btn {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 20px;

    }
.best-selling{
    margin-left: 20px;
}


    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 200px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 200px;
    }

    .details {
        flex-direction: column;

    }

    .recentOrders {
        overflow-x: auto;
    }

}

@media (max-width: 480px) {
.con-cards-dashboard {
    flex-direction: column;
}
    .con-sales-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .con-sales-btn button {
        flex: 1 1 48%;
        max-width: 48%;
    }

    .navigation.active {
        width: 80px;
    }

    .details {
        padding-left: 20px;
    }

    .search {
        width: 150px;
    }

    .cardHeader h3 {
        font-size: 20px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}